:root {
	--borda-padrao: 15px solid #000;
}

@font-face {
	font-family: "VCR OSD MONO";
	src: url('VCR_OSD_MONO.ttf') format('opentype');
}

body {
	margin: 0;
	background-color: #001219;
	font-family: sans-serif;
}

.main-genius {
	display: flex;
	gap: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: black;
}

.container-genius {
	display: grid;
	grid-template-areas: "verde vermelho" "amarelo azul";
	grid-gap: 15px;
	border: 1px solid white;
	background-color: black;
	border-radius: 100%;
	width: 600px;
	height: 600px;
}


.azul {
	grid-area: azul;
	background-color: blue;
	border-bottom-right-radius: 100%;
	border-right: var(--borda-padrao);
	border-bottom: var(--borda-padrao);
}

.verde {
	grid-area: verde;
	background-color: green;
	border-top-left-radius: 100%;
	border-top: var(--borda-padrao);
	border-left: var(--borda-padrao);
}

.amarelo {
	grid-area: amarelo;
	background-color: yellow;
	border-bottom-left-radius: 100%;
	border-left: var(--borda-padrao);
	border-bottom: var(--borda-padrao);
}


.vermelho {
	grid-area: vermelho;
	background-color: red;
	border-top-right-radius: 100%;
	border-top: var(--borda-padrao);
	border-right: var(--borda-padrao);
}

.container-nivel {
	font-size: 3em;
	font-weight: bold;
	color: white;
	margin-top: 20px;
}

.circulo {
	display: flex;
	align-self: center;
	justify-self: center;
	align-items: center;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	font-family: "VCR OSD MONO";
	position: absolute;
	height: 250px;
	width: 250px;
	background-color: black;
	color: white;
	border-radius: 100%;
	z-index: 10;
}

.container-pontuacao {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 180px;
	width: 320px;
	background-color: white;
	border-radius: 2rem;
}

.label-pontuacao {
	font-size: 2em;
	font-weight: bold;
	margin-top: 25px;
}

.pontuacao {
	font-size: 5em;
	margin-bottom: 55px;
}

.selecionado {
	opacity: 0.3;
}

.pointer {
	cursor: pointer;	
}

@keyframes expande {
	from { height: 20px; }
	to { height: 200px;}
}

.container-perdeu {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-self: center;
        justify-self: center;
	align-items: center;
	justify-content: center;
	font-family: "VCR OSD MONO";
	font-size: 3em;
	height: 200px;
	width: 700px;
	animation-name: expande;
	animation-duration: 200ms;
	background-color: white;
	border-radius: 2rem;
	border: 1px solid black;
	z-index: 11;

}

.botao-reiniciar {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	font-size: 0.5em;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}

.botao-reiniciar:hover {
	opacity: 0.5;
}
